.footer {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: #fdfdfd;
    color: white;
    text-align: center;
    padding-top: 1%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .footer-logo{
    width: 100%;
  }
  
  .footer-logo img {
    width: 15%;
    height: auto;
  }
  
  .footer-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin: 10px 0;
  }
  
  .footer-links a {
    height: 25px;
    font-size: clamp(8px, 1.5vw, 30px);
    text-decoration: none;
    color: #6cb619;
    font-weight: bold;
  }
  
  .footer-social {
    margin: 1% 0 1% 0;
  }
  
  .footer-social a {
    font-size: clamp(10px, 2vw, 100px);
    color: #6cb619;
    text-decoration: none;
  }
  
  
  .footer-bottom {
    background-color: #6cb619;
    font-size: 0.8em;
    color: #ffffff;
    padding: 0 0 0 2%;
  }

  .footer-bottom p {
    font-size: 16px;
    text-align: center;
  }
  
  @media (max-width: 995px) {
    .footer-links a {
        font-size: clamp(10px, 1.5vw, 20px);
    }

    .footer-bottom p {
        font-size: clamp(10px, 1.5vw, 20px);
      }
}