.product-container {
    width: 100%;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}

.product-slick-slider .slick-track {
    display: flex;
    padding: 10px 0;
    gap: 15px;
    border: 2px solid red;
}

.product-item:focus,
.product-item:active {
    outline: none;
    border: none;
}

.product-item {
    max-height: 240px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 8px;
    border: 2px solid rgba(133, 133, 133, 0.2) !important;
    transition: transform 0.3s ease-in-out;
}

.product-item:hover{
    transform: scale(1.05);
}

.product-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.product-name {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Show ... when text overflows */
    display: -webkit-box;
    /* Required for clamping */
    -webkit-line-clamp: 1;
    /* Limit text to 2 lines */
    -webkit-box-orient: vertical;
    /* Ensure vertical layout */
    max-width: 90%;
    /* Prevent stretching the layout */
    max-height: 1.2rem;
    /* Ensure text doesn't push other elements */
    line-height: 1.2rem;
    /* Maintain clean spacing between lines */
    text-align: center;
    /* Keep text centered */
    word-wrap: break-word;
    /* Break long words */
    word-break: break-word;
    /* Additional safeguard */
    color: rgba(37, 37, 37, 1);
}

.product-price {
    display: -webkit-box;
    /* Required for clamping */
    overflow: hidden;
    -webkit-line-clamp: 1;
    /* Limit text to 2 lines */
    -webkit-box-orient: vertical;
    /* Ensure vertical layout */
    max-height: 1.2rem;
    /* Ensure text doesn't push other elements */
    line-height: 1.2rem;
    /* Maintain clean spacing between lines */
    text-align: center;
    /* Keep text centered */
    word-wrap: break-word;
    /* Break long words */
    word-break: break-word;
    /* Additional safeguard */
    margin-top: 10px;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    max-width: 100%;
    color: rgba(46, 204, 64, 1);
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .product-slick-slider .slick-track {
        gap: 10px;
    }
}