.FTH-StoreCredit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 1%;
}

.FTH-heading {
    font-size: clamp(8px, 2vw, 30px);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.FTH-des {
    font-size: clamp(8px, 1.5vw, 24px);
    text-align: center;
    margin: 0.5% 0 0px 0;
}


.FTH-StoreCredit {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1%;
    padding: 0 1%;
}

.FTH-StoreCredit-item {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

.FTH-StoreCredit-item>a {
    overflow: hidden;
}

.FTH-StoreCredit-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.FTH-StoreCredit-item:hover img {
    transform: scale(1.1);
}

.FTH-StoreCredit-item>h3 {
    font-size: clamp(8px, 1.5vw, 30px);
    margin: 0;
    text-align: center;
}

.FTH-StoreCredit-item>p {
    height: 25px;
    font-size: clamp(8px, 1.3vw, 24px);
    text-align: center;
}

.small-banner {
    width: 100%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://farmtohome.com.my/image/farmtohome/image/cache/data/Home%20page/login%205-1920x500.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.small-banner h1 {
    font-size: clamp(12px, 2vw, 36px);
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.small-banner p {
    font-size: clamp(10px, 1.5vw, 32px);
    text-align: center;
    margin-bottom: 1rem;
}

.login-register-btn {
    background-color: #fff;
    color: #000;
    border: 2px solid #38b000;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.login-register-btn:hover {
    background-color:green;
}

@media (max-width: 995px) {
    .FTH-heading {
        font-size: clamp(10px, 2vw, 20px);
    }

    .FTH-des {
        font-size: clamp(10px, 2vw, 20px);
    }

    .FTH-StoreCredit-item>h3 {
        font-size: clamp(10px, 2vw, 20px);
    }
    
    .FTH-StoreCredit-item>p {
        font-size: clamp(10px, 2vw, 16px);
    }

    .FTH-StoreCredit-item>p {
        height: 3.5vw;
    }
}

@media (max-width: 480px) {
    .FTH-heading {
        font-size: clamp(10px, 2vw, 20px);
    }

    .FTH-des {
        font-size: clamp(8px, 2vw, 20px);
    }

    .FTH-StoreCredit-item>p {
        height: 20px;
    }
}


@media (max-width: 415px) {
    .FTH-StoreCredit-item>p {
        height: 35px;
    }
}